.agile-trello-card-points.badge-text {
  background-color: #f03c02;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 12px;
  height: 17px;
  line-height: 17px;
  margin-bottom: 3px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.agile-trello-col-totals {
  font-size: 11px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}
.agile-trello-card-number {
  background-color: white;
  border-bottom-right-radius: 5px;
  color: #f03c02;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 0px 0px 8px;
  width: 4em;
}

.agile-trello-card-age {
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
}
